@import "aboutus/about1";
@import "homes/home";
@import "blogs/blog";
@import "portfolio/porfolio";
@import "contactus/contact";

@font-face{
	font-family: 'beba';
	src:url('../font/bebas___-webfont.ttf');
}
@font-face{
	font-family:'helvetica Neue';
	src:url('../font/helvetica neue.ttf');
	src:url('../font/helvetica neue.eot');
	src:url('../font/helvetica neue.woff');
}


